body {
    margin: 0px;
}

div {
    display: inline-block;
}

.navbar{
    position: sticky;
    top: 0;
    overflow:hidden;
    background-color: white;
    min-width: 100%;
    padding: 5px 0px 0px 10px;
    height: fit-content;
}

.navbar img {
    max-width: 400px;
}

.navbar ul {
    padding: 10px 0px;
    margin: 0px;
    min-height: fit-content;
    
}

.navbar-link {
    padding: 10px 10px;
    font-size: 28px;
    color: #182b49;
    text-decoration: none;
}

.navbar-link:visited {
    color: #182b49;
}

.navbar-link:hover {
    background-color: #182b49;
    color: white;
}

.section p {
    font-size: 28px;
}

.section1 {
    scroll-margin-top: 133px;
    background-color: rgb(245, 240, 230);
}

.section2 {
    scroll-margin-top: 133px;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color: white;
}

.section {
    scroll-margin-top: 133px;
    background-color: rgb(245, 240, 230);
}

.block-grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 25px;
}

.block-element {
    color:white;
    grid-column: span 1;
    background-color: #182b49;
    max-height: 500px;
    overflow: scroll;
}

.block-element p {
    margin: 10px;
}
